header{
    background-color: rgb(85, 186, 204);
    
}

.paragrafo-do-header{
    background-color: aqua
}
.lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}